<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/footer.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <footer class="footer py-5">
        <div class="brand-logo">
            <h1 class="text-center">FurnDesign</h1>
        </div>
        <div class="d-flex justify-content-center my-5" style="">
            <a class="mx-4 footer-links" href="#">Home</a>
            <a class="mx-4 footer-links" href="#">About Us</a>
            <a class="mx-4 footer-links" href="#">Products</a>
            <a class="mx-4 footer-links" href="#">Contact</a>
        </div>
    
        <div class="icons-container mx-auto d-flex justify-content-center py-3">
            <div class="mx-3">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="mx-3">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="mx-3">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </div>
        </div>
    </footer>
</body>
</html>